.holder{
  display: flex;
  flex-wrap: wrap;
  width: 600px;       
  border-radius: 20px;   
}

.item{
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.item:nth-child(1){
  order: 1;
  width: 60%;
  background:hotpink;
}

.item:nth-child(5){
  order: 2;
  width: 40%;
  background: darkgreen;
}


.item:nth-child(3){
  order: 3;
  width: 33%;
  background:lightblue;
}

.item:nth-child(2){
  order: 4;
  width: 33%;
  background: burlywood;
}

.item:nth-child(4){
  order: 5;
  width: 33%;
  background:darkblue;
}
