
.holder{
   display: flex;
  flex-wrap: wrap;
  width: 600px;       
  border-radius: 20px;  
  order: 4px solid black;
  overflow: hidden;  
  outline: solid black;
}

.item{
 height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.item:nth-child(1){
    order: 1;
  width:50%;
 background:hotpink;
}

.item:nth-child(5){
   order: 2;
  width:50%;
  background: darkgreen;
}

.item:nth-child(3){
  width:33%;
   order: 3;
  background: burlywood;
}

.item:nth-child(2){
  order: 4;
  width:33%;
  background:yellow;
}

.item:nth-child(4){
   order: 5;
  width:33%;
  background: lightblue;
} 
